<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <table class="table text-center table-bordered">
      <tr>
        <td><h3>Usuário: <%= @message.user.name %></h3></td>
        <td><h3>Módulo: <%= @message.component.title %></h3></td>
      </tr>
    </table>



    <%= f.input :user_id, as: :hidden %>
    <%= f.input :component_id, as: :hidden %>

    <%= f.input :body, label: 'Digite a sua mensagem' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
