<div class="container">
<div class="row center">
<div class="col-sm-12 col-md-12">
<h2>Lista de Mensagens</h2>
<hr>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Orçamento</th>
      <th>Componente</th>
      <th>Ítem</th>
      <% if current_user.try(:admin?) %>
      <th colspan="2"></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.user.name %></td>
        <td><%= message.component.block.order.code %></td>
        <td><%= message.component.title %></td>
        <td><%= message.body %></td>
        <% if current_user.try(:admin?) %>

        <td>
          <%= link_to edit_message_path(message) do%>
            <i class="danger fa fa-pencil-square-o" aria-hidden="true"> </i>
          <%end%>
        </td>
        <td><%= link_to message, method: :delete, data: { confirm: 'Tem Certeza?' } do %>
           <i class="disabled fa fa-times" aria-hidden="true"> </i>
           <%end%>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
<% if current_user.try(:admin?) %>
<%= link_to 'Nova Mensagem', new2_messages_path, class:"btn btn-lg btn-block btn-success" %>
<% end %>
<hr>
</div>

</div>
</div>
</div>
