<div class="container">
<div class="row center">

	<h2>Mensagem: <%= @message.component.title %></h2>
	<hr>

<p>
  <strong>User:</strong>
  <%= @message.user %>
</p>

<p>
  <strong>Component:</strong>
  <%= @message.component %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>


<div class="text-center">
<hr>
<%= link_to 'Voltar', messages_path, class: "btn btn-default" %>
<%= link_to 'Visualizar', @message, class: "btn  btn-info"  %>

</div>


</div>
</div>
