<div id="home" class="container">
<div class="row">
<div class="col-md-12">
<div class="page-header">
  <h3>Bem Vindo: <%= current_user.name %></h3>
</div>
<h4> Orçamentos </h4>

<table class="table table-hover", style="background:#fff">
  <thead>
    <tr>
      <% if current_user.try(:admin?) %>
      <th>User</th>
      <% end %>
      <th>Code</th>
      <% if current_user.try(:admin?) %>
      <th>Enable</th>
      <%end%>
      <th>Starting at</th>
      <th>Ending at</th>
      <th>Order type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <% if current_user.try(:admin?) %>
        <td><%= order.user.name %></td>
        <%end%>
        <td><%= order.code %></td>
        <% if current_user.try(:admin?) %>
        <td><%= order.enable %></td>
        <%end%>
        <td><%= order.starting_at %></td>
        <td><%= order.ending_at %></td>
        <td><%= order.order_type.humanize %></td>
        <td><%= link_to 'Ver', order %></td>
        <% if current_user.try(:admin?) %>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
