  <%= simple_form_for(@user, :url => user_path(@user), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= f.error_notification %>
    <div class="form-group">
      <%= f.input :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.input :username, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.input :company, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.input :email, class: 'form-control' %>
    </div>
    <fieldset>
      <p>Deixe estes campos em branco se você não quiser alterar sua senha.</p>
      <div class="form-group">
        <%= f.input :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.input :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <i>(precisamos de sua senha atual para confirmar as alterações)</i>
        <%= f.input :current_password, class: 'form-control' %>
      </div>
    </fieldset>

    <div class="form-actions">
    <%= f.submit 'Enviar', :class => 'button right', class:"btn btn-lg btn-block btn-success" %>
      <hr>
      </div>
  <% end %>

<div class="text-center"> 
<%= button_to "Cancelar Minha Conta", user_path(@user), :data => { :confirm => "Tem Certeza?" }, :method => :delete, :class => 'button right', class:"btn btn-danger" %>
</div>
