  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>
    <div class="form-group">
      <%= f.input :name, label: "Nome" %>
    </div>
    <div class="form-group">
      <%= f.input :company, label: "Companhia" %>
    </div>
    <div class="form-group">
      <%= f.input :username, label: "Usuário" %>
    </div>
    <div class="form-group">
      <%= f.input :email %>
    </div>
    <div class="form-group">
      <%= f.input :password, label: "Senha" %>
    </div>
    <div class="form-group">
      <%= f.input :password_confirmation, label: "Confirmar Senha" %>
    </div>
    <div class="form-group">
      <%= f.input :role, :collection => User.roles, :label_method => :first,
          :value_method => :first , :label => "Tipo" ,:include_blank => false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Enviar", :class => 'button right', class:"btn btn-lg btn-block btn-success"   %>
        <hr>
    <% end %>
      </div>
