<td>
  <%= user.name %>
</td>

<td>
  <%= link_to user.email, user %>
</td>

<td>
  <%= simple_form_for user, url: update_role_user_path(user), html: {method: "patch"} do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit 'Tipo', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Editar", edit_user_path(user), :class => 'btn btn-xs btn-warning') %>
</td>
<td>
  <%= link_to("Deletar", user_path(user), :data => { :confirm => "Tem Certeza?" }, :method => :delete, :class => 'button-xs btn-danger') unless user == current_user %>
</td>
