<div class="col-md-4 nested-fields">
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="field">
        <%= f.input :title, placeholder: "Título", label: false %>
      </div>
      <div class="field">
        <%= f.input :head, placeholder: "Destaque", label: false, input_html: {:data => {toggle: "tooltip"}, title:"Exibe um frase de destaque para o módulo."} %>
      </div>
      <div class="field">
        <%= f.input :description, placeholder: "Descrição", label: false %>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Itens</h3>
          <div id="items">
            <%= f.fields_for :items do |item| %>
              <%= render 'item_fields', f: item %>
            <% end %>

            <div class="links">
              <%= link_to_add_association 'Novo Ítem', f, :items, { class: 'btn btn-primary btn-xs btn-block' }  %>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="field">
        <%= f.input :footer, placeholder: "Rodapé do Módulo", input_html: {:data => {toggle: "tooltip"}, title:"Aceita tags em HTML"}, label: false %>
      </div>
      <div class="field">
        <%= f.input :price, placeholder: "Preço do Módulo", label: false %>
      </div>
    </div>
    <div class="panel-footer">
      <div class="text-right">
        <%= link_to_remove_association "Excluir Módulo", f, { class: 'btn btn-danger btn-xs' } %>
      </div>
    </div>
  </div>
</div>
