<div class="nested-fields">
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="field">
        <%= f.input :title %>
      </div>
      <div class="field">
        <%= f.input :head %>
      </div>
      <div class="field">
        <%= f.input :description %>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Itens</h3>
          <div id="items">
            <%= f.fields_for :items do |item| %>
              <%= render 'item_fields', f: item %>
            <% end %>

            <div class="links">
              <%= link_to_add_association 'Add item', f, :items, { class: 'btn btn-success' }  %>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="field">
        <%= f.input :footer %>
      </div>
      <div class="field">
        <%= f.input :price %>
      </div>
    </div>
    <div class="panel-footer">
      <div class="text-right">
        <%= link_to_remove_association "Delete Module", f, { class: 'btn btn-danger' } %>
      </div>
    </div>
  </div>
</div>
