<div id="home" class="container">
<div class="row">
<div class="col-md-12">
<div class="page-header">
  <h3>Bem Vindo: <%= current_user.name %></h3>
</div>
<h4> Orçamentos </h4>
<div class="table-responsive">
<table class="table table-hover table-condensed table-striped order-list", style="background:#fff">
  <thead>
    <tr>
      <% if current_user.try(:admin?) %>
      <th>User</th>
      <% end %>
      <th>Code</th>
      <th>Starting at</th>
      <th>Ending at</th>
      <th>Order type</th>
      <% if current_user.try(:admin?) %>
      <th class="text-center">Habilitado</th>
      <th class="text-center">Aprovado</th>
      <%end%>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <% if current_user.try(:admin?) %>
        <td><%= order.user.name if !order.user.nil?%></td>
        <%end%>
        <td><%= order.code if !order.code.empty? %></td>
        <td><%= order.starting_at %></td>
        <td><%= order.ending_at %></td>
        <td><%= order.order_type.humanize %></td>
        <% if current_user.try(:admin?) %>
        <td class="text-center">
        <% if order.enable %>
          <i class="enabled fa fa-eye" aria-hidden="true"> </i>
        <% else %>
          <i class="disabled fa fa-eye-slash" aria-hidden="true"> </i>
        <% end %>
        </td>
        <td class="text-center">
        <% if order.approved %>
          <i class="enabled fa fa-check-circle-o" aria-hidden="true"> </i>
        <% else %>
          <i class="disabled fa fa-times-circle-o" aria-hidden="true"> </i>
        <% end %>
        </td>
        <% end %>
        <td class="text-center">
          <%= link_to order, title: "Ver Orçamento" do  %>
          <i class="enabled fa fa-file-text-o" aria-hidden="true"> </i>
          <% end %>
        </td>
        <% if current_user.try(:admin?) %>
        <td class="text-center">
          <%= link_to edit_order_path(order), title: "Editar" do%>
            <i class="danger fa fa-pencil-square-o" aria-hidden="true"> </i>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to duplicate_order_path(order), title: "Duplicar", method: :post, data: { confirm: 'Are you sure?' } do%>
            <i class="warning fa fa-files-o" aria-hidden="true"> </i>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to order, title: "Deletar", method: :delete, data: { confirm: 'Are you sure?' }  do %>
            <i class="disabled fa fa-times" aria-hidden="true"> </i>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= link_to 'New Order', new_order_path, class: "btn btn-success" %>
  </div>
</div>
</div>

