<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table class="table table-bordered order-list">
  <thead>
    <tr>
      <th>User</th>
      <th>Code</th>
      <th>Starting at</th>
      <th>Ending at</th>
      <th>Order type</th>
      <th>Habilitado</th>
      <th>Aprovado</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.name if !order.user.nil?%></td>
        <td><%= order.code if !order.code.empty? %></td>
        <td><%= order.starting_at %></td>
        <td><%= order.ending_at %></td>
        <td><%= order.order_type.humanize %></td>
        <td class="text-center">
        <% if order.enable %>
          <i class="enabled fa fa-eye" aria-hidden="true"> </i>
        <% else %>
          <i class="disabled fa fa-eye-slash" aria-hidden="true"> </i>
        <% end %>
        </td>
        <td class="text-center">
        <% if order.approved %>
          <i class="enabled fa fa-check-circle-o" aria-hidden="true"> </i>
        <% else %>
          <i class="disabled fa fa-times-circle-o" aria-hidden="true"> </i>
        <% end %>
        </td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Duplicate', duplicate_order_path(order), method: :post, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
</div>
