<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h4 class="text-center">OrderApp - CraosX</h4>
    <br>
    <%= devise_error_messages! %>
    <div class="form-group">

      <%= f.email_field :email, :autofocus => true, class: 'form-control', :placeholder =>"usuario@craosx.com" %>
    </div>
    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <%= link_to "Esqueceu a senha?", new_password_path(resource_name), class: 'right' %>
      <% end -%>

      <%= f.password_field :password, class: 'form-control', :placeholder =>"senha" %>
    </div>
      <%= f.submit 'Entrar', :class => 'button right' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox" style="width:150px">
          <label>
            <%= f.check_box :remember_me %> Lembrar-me
          </label>
        </div>
      <% end -%>
  <% end %>
</div>
