<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Orçamento CRAOSX" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Orçamento CRAOSX" %>">
    <%= stylesheet_link_tag 'signin', media: 'all' %>
    <%= favicon_link_tag "favicon.png"%>
    <%= javascript_include_tag 'signin' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <div class="onepage">
    <%= render 'layouts/messages' %>
    <%= yield %>
    </div>
    <footer>
      <div class="container">
        <p class="text-muted text-center">
          © 2016 · CRAOSX · Fazemos projetos vivos
        </p>
      </div>
    </footer>

  </body>
</html>
